{% extends 'base.html' %}

{% block content %}
<div class="row">
        <div class="col">

    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>B-Day</th>
            <th>D-Day</th>
            <th>Country</th>
            <th>Gender</th>
            <th>Language</th>
            <th>Update</th>
        </tr>

        {% for author in author_list  %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ author.id }}</td>
                <td>{{ author.first_name }}</td>
                <td>{{ author.last_name }}</td>
                <td>{{ author.date_of_birth }}</td>
                <td>{{ author.date_of_death }}</td>
                <td>{{ author.country }}</td>
                <td>{{ author.gender }}</td>
                <td>{{ author.native_language }}</td>
                <td><a href="{% url 'books:author-update' author.id %}">Edit</a></td>

            </tr>
        {% endfor %}
    </table>
        </div>
</div>
{% endblock content%}