{% extends 'base.html' %}

{% block content %}
<div class="row">
        <div class="col">

            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Author Name</th>
                    <th>Title</th>
                    <th>Publish Year</th>
                    <th>Review</th>
                    <th>Condition</th>
                    <th>Request</th>
                    <th>Update</th>
                </tr>

        {% for object in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ object.id }}</td>
                <td>
                    {{ object.author.first_name }}
                    {{ object.author.last_name }}
                </td>
                <td>{{ object.title }}</td>
                <td>{{ object.publish_year }}</td>
                <td>{{ object.review }}</td>
                <td>{{ object.condition }}</td>
                <td><a href="{% url 'books:create-book-request' object.id %}">Request Book</a></td>
                {% if request.user.is_authenticated %}
            <td><a  class="btn btn-primary"  href="{% url 'books:book-update' object.id %}"> Edit </a></td>
            {% endif %}
            </tr>
        {% endfor %}
    </table>

        </div>
</div>
{% endblock content %}