body {
    margin:0;
}

table{
    width:100%;
}


div#header {
    width:100%;
    height:50px;
    text-align:center;
}

div#navbar{
    width:100%;
    background-color:#777;
    padding:10px;
    text-align:center;
    margin-bottom:20px;
}
ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu li{
    display: inline;
    background-color:#888;
}
ul.main-menu li:hover{
    background-color:#555;
}
ul.main-menu a{
    color:#ffcc33;
    text-decoration:none;
}


div#footer{
    color:#fff;
    background-color:#000;
    text-align:center;
    width:100%;
    margin-top:50px;
    padding:10px;
}