<div id="navbar">
    <div id="main-menu">
        <ul class="main-menu">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'books-list' %}">books list</a></li>
            <li><a href="{% url 'book-create' %}">book create</a></li>
            <li><a href="{% url 'authors-list' %}">Author list</a></li>
            <li><a href="{% url 'author-create' %}">Author create</a></li>
            <li><a href="{% url 'logs' %}">Logs</a></li>
            <li>LogIn</li>
        </ul>
    </div>
</div>