<div id="navbar">
    <nav class="top-menu">

        <ul class="menu-main">
            <li><a class="navbar-logo" href="{% url 'index' %}">Home</a></li>
            <li><a href="#">Books</a>
                <ul>
                <li><a href="{% url 'books-list' %}">books list</a></li>
                <li><a href="{% url 'book-create' %}">book create</a></li>
                </ul>
            </li>
            <li><a href="#">Authors</a>
                <ul>
                <li><a href="{% url 'authors-list' %}">author list</a></li>
                <li><a href="{% url 'author-create' %}">author create</a></li>
                </ul>
            </li>
            <li><a href="{% url 'logs' %}">Logs</a></li>
            <li><a href="{% url 'login' %}">LogIn</a></li>
        </ul>
    </nav>
</div>